<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
  <title>Bucks Centre for the Performing Arts (BCPA)</title>
  <link rel="stylesheet" type="text/css" href="stylefront.css" th:href="@{/stylefront.css}">
  
<style>
    .loggingform{
        position:fixed;
        top:30%;
        bottom:30%;
        left:30%;
        width:35%;
        background-color: transparent;
        z-index: 10000;
        display:none;
    }

.login-form-wrap {
    width: 100%;
    
   background-repeat: no-repeat;
    background-position: center;
    background-position: center;
    background-size: cover;}
    .login-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;}
        .login-content-warp {
            padding: 30px;
            background: #505050d1;
            width: 280px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            border-radius: 35px;
            border-top: 5px solid #94afda;}

            .profile-form {
                display: flex;
                flex-direction: column;
                align-items: center;}

        
            
            .butn-sign {
                padding: 20px 0px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;}
                .button {
                    background-color: rgb(66, 123, 238);
                    color: #2a2a2a;
                    border: none;
                    font-weight: 600;
                    height: 40px;
                    width: 74%;
                    border-radius: 8px;
                    font-size: 16px;
                    text-align: center;
                    text-transform: capitalize;
                    border: 2px solid #91add8;}
                    .button:hover {
                        background-color: #9e9e9e00;
                        color: #fffcfc;
                        border: 2px solid #91afd8;
                        cursor: pointer;
                        transition: 1s;
                    }
                    .buttonclose {
                    background-color: transparent;
                    color: #cf3030;
                    cursor: pointer;
                   }
                   .buttonclose:hover {
                       
                        color: rgb(204, 108, 239);
                       
                        cursor: pointer;
                        transition: 1s;
                    }
              
            .form {
                width: 100%;
            }
                .email-input,
                .password-input {
                    margin: 12px 0px;
                    position: relative;}
                    .email {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translate(-50%, -50%);
                        font-size: 18px;
                        color: #7c7c7c;
                    }
                    .input {
                        
                        border: none;
                        width: 100%;
                        font-size: 16px;
                        padding-left: 10px;}
                        &:focus-visible {
                            outline: none;
                        }
                        &::placeholder {
                            color: gray;
                        }
                  
    
            
      
</style>
    </head>
    <body>
        <div class="loggingform" id="logginform">

            <div class="login-form-wrap">
                <div class="login-box">
                    <div class="login-content-warp">
                        <div class="profile-form">
                             <span class="profile-title"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="rgb(66, 123, 238)" class="bi bi-person" viewBox="0 0 16 16">
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664z"/>
                              </svg> <p th:inline="text">Hy,<span th:remove="tag" sec:authentication="name"></span>!</p>
                            </span>
                               </div>

              <form th:action="@{/logout}" method="post">
               
                           
                              
                            <div class="butn-sign">
                                <input type="submit" value="Sign Out" class="button" /><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
                                    <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1"/>
                                    <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5M4 1.934V15h6V1.077z"/>
                                  </svg>
                            </div>
                            <div class="butn-sign">
                                <a  class="buttonclose" onclick="toggleContainer()"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                  </svg></a>
                            </div>
                        </form>
        
                        
        
                        
                    </div>
                </div>
            </div>
           
 </div>

 <script>
function toggleContainer() {
        var container = document.getElementById('logginform');
        var currentDisplay = container.style.display;

        // Toggle between "block" and "none"
        container.style.display = (currentDisplay === 'none') ? 'block' : 'none';
    }
 </script>
  
    <div class="sidebar sb-left">
      <nav class="mobile-nav">
        <ul>
            <li ><a onclick="toggleContainer() "><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664z"/>
              </svg><p th:inline="text">Hy,<span th:remove="tag" sec:authentication="name"></span>!</p>
              </a></li>
         
          <li class="active"><a href="#"><i class="fa fa-film"></i><span>Bucks Center</span></a></li>
          <li><a href="/booking"><i class="fa fa-ticket"></i><span>Book Now</span></a></li>
          <li><a href="/"><i class="fa fa-trophy"></i><span>Top Shows</span></a></li>
       
          <li><a href="mailto: info@unicoais.com"><i class="fa fa-envelope"></i><span>Contact us</span></a></li>
        </ul>
      </nav>
    </div>
    <div id="site-container">
      <main id="main">
        <header id="main-header">
          <div class="inner-container">
            <div class="sb-toggle-left">
              <span class="menu-icon"></span>
              <span class="menu-icon-text">Menu</span>
            </div>
            <h1><a href="https://unicoais.com" >BCPA</a></h1>
            <ul class="header-nav">
              <li><a href="https://facebook.com/" target="_blank" rel="nofollow"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com" target="_blank" rel="nofollow"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/" target="_blank" rel="nofollow"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </header>
        <div id="header-secondary">
          <div class="inner-container">
            <nav class="filters">
              <ul>
               
                <li class="dropdown abc-filter">
                  <div class="dropdown-toggle" data-toggle="dropdown">ABC<i class="fa fa-angle-down"></i></div>
                  <ul class="dropdown-menu">
                    <li class="abc"><a href="/?ap=numeric">#</a></li>
                    <li class="abc"><a href="/?ap=A">A</a></li>
                    <li class="abc"><a href="/?ap=B">B</a></li>
                    <li class="abc"><a href="/?ap=C">C</a></li>
                    <li class="abc"><a href="/?ap=D">D</a></li>
                    <li class="abc"><a href="/?ap=E">E</a></li>
                    <li class="abc"><a href="/?ap=F">F</a></li>
                    <li class="abc"><a href="/?ap=G">G</a></li>
                    <li class="abc"><a href="/?ap=H">H</a></li>
                    <li class="abc"><a href="/?ap=I">I</a></li>
                    <li class="abc"><a href="/?ap=J">J</a></li>
                    <li class="abc"><a href="/?ap=K">K</a></li>
                    <li class="abc"><a href="/?ap=L">L</a></li>
                    <li class="abc"><a href="/?ap=M">M</a></li>
                    <li class="abc"><a href="/?ap=N">N</a></li>
                    <li class="abc"><a href="/?ap=O">O</a></li>
                    <li class="abc"><a href="/?ap=P">P</a></li>
                    <li class="abc"><a href="/?ap=Q">Q</a></li>
                    <li class="abc"><a href="/?ap=R">R</a></li>
                    <li class="abc"><a href="/?ap=S">S</a></li>
                    <li class="abc"><a href="/?ap=T">T</a></li>
                    <li class="abc"><a href="/?ap=V">V</a></li>
                    <li class="abc"><a href="/?ap=W">W</a></li>
                    <li class="abc"><a href="/?ap=Y">Y</a></li>
                    <li class="abc"><a href="/?ap=Z">Z</a></li>
                  </ul>
                </li>
                <li class="search">
                  <form method="get" role="form" id="searchform" autocomplete="off" action="">
                    <i class="fa fa-search"></i>
                    <input id="search" name="s" type="search" class="search-input" value="" placeholder="Search...">
                  </form>
                  <div class="live-search"></div>
                </li>
              </ul>
            </nav>
            
            <p id="slogan">Book a Movie Online</p>
          </div>
        </div>
        <section id="content" class="inner-container">
          
          <div class="item-container">
            <div class="item">
              <a href="/booking">
               <div class="item-flip">
                  <div class="item-inner">
                    <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/eDnHgozW8vfOaLHzfpHluf1GZCW.jpg" alt="Archive" >
                  </div>
  
                  
                  <div class="item-details">
                    <div class="item-details-inner">
              
    <p class="movie-description">2038: George Almore is working on a true human-equivalent AI, and his latest prototype is almost rea&hellip;</p>
                      <div class="watch-btn">
                        <div class="imdb-rating" data-content="6.3"  >
                          <i class="fa fa-star"></i>Archive</div>
                        <span class="movie-date">2020</span>
                        <span>Book Seat</span>
  
                      
                      </div>
                    </div>
                  </div>
                </a>
                </div>
             
            </div>
            <div class="item">
              <a href="/booking">
                <div class="item-flip">
                  <div class="item-inner">
                    <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/gfJGlDaHuWimErCr5Ql0I8x9QSy.jpg" alt="Wonder Woman">
                  </div>
                  <div class="item-details">
                    <div class="item-details-inner">
                      <h2 class="movie-title">Wonder Woman</h2>
                      <p class="movie-description">An Amazon princess comes to the world of Man in the grips of the First World War to confront the for&hellip;</p>
                      <div class="watch-btn">
                        <div class="imdb-rating" data-content="7.4">
                          <i class="fa fa-star"></i>7.4</div>
                        <span class="movie-date">2017</span>
                        <span>Book Seat</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="item">
              <a href="/booking">
                <div class="item-flip">
                  <div class="item-inner">
                    <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/u6c5xkR0eIzlnxcQoMBlySH6ann.jpg" alt="Deepwater Horizon">
                  </div>
                  <div class="item-details">
                    <div class="item-details-inner">
                      <h2 class="movie-title">Deepwater Horizon</h2>
                      <p class="movie-description">A story set on the offshore drilling rig Deepwater Horizon, which exploded during April 2010 and cre&hellip;</p>
                      <div class="watch-btn">
                        <div class="imdb-rating" data-content="7.1">
                          <i class="fa fa-star"></i>7.1</div>
                        <span class="movie-date">2016</span>
                        <span>Book Seat</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="item">
              <a href="/booking">
                <div class="item-flip">
                  <div class="item-inner">
                    <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/yf5IuMW6GHghu39kxA0oFx7Bxmj.jpg" alt="Palm Springs">
                  </div>
                  <div class="item-details">
                    <div class="item-details-inner">
                      <h2 class="movie-title">Palm Springs</h2>
                      <p class="movie-description">When carefree Nyles and reluctant maid of honor Sarah have a chance encounter at a Palm Springs wedd&hellip;</p>
                      <div class="watch-btn">
                        <div class="imdb-rating" data-content="7.5">
                          <i class="fa fa-star"></i>7.5</div>
                        <span class="movie-date">2020</span>
                        <span>Book Seat</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="item">
              <a href="/booking">
                <div class="item-flip">
                  <div class="item-inner">
                    <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/2kNnf7BwRCEm4bcFkdiE0T4U25s.jpg" alt="Guns Akimbo">
                  </div>
                  <div class="item-details">
                    <div class="item-details-inner">
                      <h2 class="movie-title">Guns Akimbo</h2>
                      <p class="movie-description">An ordinary guy suddenly finds himself forced to fight a gladiator-like battle for a dark website th&hellip;</p>
                      <div class="watch-btn">
                        <div class="imdb-rating" data-content="6.3">
                          <i class="fa fa-star"></i>6.3</div>
                        <span class="movie-date">2019</span>
                        <span>Book Seat</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
           
            <div class="item">
              <a href="/booking">
                <div class="item-flip">
                  <div class="item-inner">
                    <span class="item-tv">TV<i></i></span><img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/ggFHVNu6YYI5L9pCfOacjizRGt.jpg" alt="Breaking Bad">
                  </div>
                  <div class="item-details">
                    <div class="item-details-inner">
                      <h2 class="movie-title">Breaking Bad</h2>
                      <p class="movie-description">When Walter White, a New Mexico chemistry teacher, is diagnosed with Stage III cancer and given a pr&hellip;</p>
                      <div class="watch-btn">
                        <div class="imdb-rating" data-content="9.5">
                          <i class="fa fa-star"></i>9.5</div>
                        <span class="movie-date">2008</span>
                        <span>Book Seat</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
             <div class="item">
              <a href="/booking">
                <div class="item-flip">
                  <div class="item-inner">
                    <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/prdFM08mGvVDA6uQxKJh8n8Vek1.jpg" alt="How It Ends">
                  </div>
                  <div class="item-details">
                    <div class="item-details-inner">
                      <h2 class="movie-title">How It Ends</h2>
                      <p class="movie-description">A desperate father tries to return home to his pregnant wife after a mysterious apocalyptic event tu&hellip;</p>
                      <div class="watch-btn">
                        <div class="imdb-rating" data-content="5.0">
                          <i class="fa fa-star"></i>5.0</div>
                        <span class="movie-date">2018</span>
                        <span>Book Seat</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="item">
              <a href="/booking">
                <div class="item-flip">
                  <div class="item-inner">
                    <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/h4VB6m0RwcicVEZvzftYZyKXs6K.jpg" alt="Birds of Prey (and the Fantabulous Emancipation of One Harley Quinn)">
                  </div>
                  <div class="item-details">
                    <div class="item-details-inner">
                      <h2 class="movie-title">Birds of Prey (and the Fantabulous Emancipation of One Harley Quinn)</h2>
                      <p class="movie-description">Harley Quinn joins forces with a singer, an assassin and a police detective to help a young girl who&hellip;</p>
                      <div class="watch-btn">
                        <div class="imdb-rating" data-content="6.2">
                          <i class="fa fa-star"></i>6.2</div>
                        <span class="movie-date">2020</span>
                        <span>Book Seat</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="item">
              <a href="/booking">
                <div class="item-flip">
                  <div class="item-inner">
                    <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/aQvJ5WPzZgYVDrxLX4R6cLJCEaQ.jpg" alt="Sonic the Hedgehog">
                  </div>
                  <div class="item-details">
                    <div class="item-details-inner">
                      <h2 class="movie-title">Sonic the Hedgehog</h2>
                      <p class="movie-description">Based on the global blockbuster videogame franchise from Sega, Sonic the Hedgehog tells the story of&hellip;</p>
                      <div class="watch-btn">
                        <div class="imdb-rating" data-content="6.6">
                          <i class="fa fa-star"></i>6.6</div>
                        <span class="movie-date">2020</span>
                        <span>Book Seat</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="item">
              <a href="/booking">
                <div class="item-flip">
                  <div class="item-inner">
                    <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/pNM2VmqS2FBL92EJ0fUPLgoij8x.jpg" alt="The Occupant">
                  </div>
                  <div class="item-details">
                    <div class="item-details-inner">
                      <h2 class="movie-title">The Occupant</h2>
                      <p class="movie-description">An unemployed executive is forced to sell his apartment. When he discovers that he still has the key&hellip;</p>
                      <div class="watch-btn">
                        <div class="imdb-rating" data-content="6.3">
                          <i class="fa fa-star"></i>6.3</div>
                        <span class="movie-date">2020</span>
                        <span>Book Seat</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="item">
              <a href="/booking">
                <div class="item-flip">
                  <div class="item-inner">
                    <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/n2C6jRK9PtPIs99RQhKtqGlsnsO.jpg" alt="My Spy">
                  </div>
                  <div class="item-details">
                    <div class="item-details-inner">
                      <h2 class="movie-title">My Spy</h2>
                      <p class="movie-description">A hardened CIA operative finds himself at the mercy of a precocious 9-year-old girl, having been sen&hellip;</p>
                      <div class="watch-btn">
                        <div class="imdb-rating" data-content="6.2">
                          <i class="fa fa-star"></i>6.2</div>
                        <span class="movie-date">2020</span>
                        <span>Book Seat</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="item">
              <a href="/booking">
                <div class="item-flip">
                  <div class="item-inner">
                    <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/udDclJoHjfjb8Ekgsd4FDteOkCU.jpg" alt="Joker">
                  </div>
                  <div class="item-details">
                    <div class="item-details-inner">
                      <h2 class="movie-title">Joker</h2>
                      <p class="movie-description">During the 1980s, a failed stand-up comedian is driven insane and turns to a life of crime and chaos&hellip;</p>
                      <div class="watch-btn">
                        <div class="imdb-rating" data-content="8.5">
                          <i class="fa fa-star"></i>8.5</div>
                        <span class="movie-date">2019</span>
                        <span>Book Seat</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="item">
              <a href="/booking">
                <div class="item-flip">
                  <div class="item-inner">
                    <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/sm8iVzA7kRp0d4BSIsgXjsSBMKV.jpg" alt="Emma.">
                  </div>
                  <div class="item-details">
                    <div class="item-details-inner">
                      <h2 class="movie-title">Emma.</h2>
                      <p class="movie-description">In 1800s England, a well-meaning but selfish young woman meddles in the love lives of her friends.&hellip;</p>
                      <div class="watch-btn">
                        <div class="imdb-rating" data-content="6.8">
                          <i class="fa fa-star"></i>6.8</div>
                        <span class="movie-date">2020</span>
                        <span>Book Seat</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="item">
              <a href="/booking">
                <div class="item-flip">
                  <div class="item-inner">
                    <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/AtsgWhDnHTq68L0lLsUrCnM7TjG.jpg" alt="Captain Marvel">
                  </div>
                  <div class="item-details">
                    <div class="item-details-inner">
                      <h2 class="movie-title">Captain Marvel</h2>
                      <p class="movie-description">The story follows Carol Danvers as she becomes one of the universe’s most powerful heroes when Ear&hellip;</p>
                      <div class="watch-btn">
                        <div class="imdb-rating" data-content="6.9">
                          <i class="fa fa-star"></i>6.9</div>
                        <span class="movie-date">2019</span>
                        <span>Book Seat</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="item">
              <a href="/booking">
                <div class="item-flip">
                  <div class="item-inner">
                    <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/pjeMs3yqRmFL3giJy4PMXWZTTPa.jpg" alt="Frozen II">
                  </div>
                  <div class="item-details">
                    <div class="item-details-inner">
                      <h2 class="movie-title">Frozen II</h2>
                      <p class="movie-description">Elsa, Anna, Kristoff and Olaf head far into the forest to learn the truth about an ancient mystery o&hellip;</p>
                      <div class="watch-btn">
                        <div class="imdb-rating" data-content="7.0">
                          <i class="fa fa-star"></i>7.0</div>
                        <span class="movie-date">2019</span>
                        <span>Book Seat</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="item">
              <a href="/booking">
                <div class="item-flip">
                  <div class="item-inner">
                    <img src="https://image.tmdb.org/t/p/w370_and_h556_bestv2/wUggWBMN8xUNVasYsroyUUPmaKa.jpg" alt="Blue Story">
                  </div>
                  <div class="item-details">
                    <div class="item-details-inner">
                      <h2 class="movie-title">Blue Story</h2>
                      <p class="movie-description">Blue Story is a tragic tale of a friendship between Timmy and Marco, two young boys from opposing po&hellip;</p>
                      <div class="watch-btn">
                        <div class="imdb-rating" data-content="5.5">
                          <i class="fa fa-star"></i>5.5</div>
                        <span class="movie-date">2019</span>
                        <span>Book Seat</span>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="pagination">
              <a href='/booking' ><span class="current">BOOK NOW</span></a>
            </div>
            
          </div>
        </section>
      </main>
    </div>
  <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script><script  src="scriptfront.js" th:href="@{/scriptfront.css}"></script>
  
  </body>
  </html>
  